.cls-page {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    height: 90vh;
}

.cls-page-col-1 {
    width: 70%;
}

.cls-page-col-2 {
    width: 30%;
    border-right-style: dotted;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.img-to-cls {
    margin: 20px 10px 10px;
    height: 400px;
    max-width: 80%;
}

.class-btn {
    margin: 10px;
}

.countdown-timer {
    margin-bottom: 30px;
}

.complete-game-div {
    position: absolute;
    margin: auto;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: larger;
    font-weight: 300;
}

.complete-game-div button {
    margin-top: 20px;
    background-color: #1ab394;
    border-color: #1ab394;
}

.score-div {
    margin-bottom: 30px;
    font-weight: 350;
    font-size: 40px;
}
.answers-left {
    margin-bottom: 30px;
    font-weight: 350;
    font-size: 25px;
}

.blocked-div {
    font-size: x-large;
}

.participants-view-div {
    display: flex;
    flex-direction: column;
    width: 95%;
    border-top-style: dotted;
    align-items: center;
    padding-top: 20px;
}

.virtual-player-status-div {
    margin-bottom: 45px;
    font-size: 20px;
    font-weight: 500;
    height: 20px;
}

.loading-div {
    height: 400px;
    text-align: center;
    padding-top: 130px;
}

.loader {
    border: 4px solid #f3f3f3; /* Light grey */
    border-top: 4px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 20px;
    height: 20px;
    animation: spin 2s linear infinite;
    margin: 10px auto auto;
}

.asked-for-help {
    font-size: 40px;
    margin-top: 20px;
}
#help-button {
    border-color: #1ab394;
    background-color: #1ab394;
    margin-top: 60px;
    width: 350px;
    height: 100px;
    margin-right: 20px;
    font-size: 30px;
}
.robot-quiz {
    border-style: solid;
    border-width: 4px;
    width: 70%;
    margin-left: 15%;
}

.happy-icon {
    margin-left: 20px;
    height: 30px;
    width: 30px;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}